#deepBlueBg {
background-color: #0F4E74;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
min-height: 100vh;
overflow: hidden;
}

.header-img {
    position: relative;
    z-index: 1;
}

.password-form {
    position: relative;
    z-index: 1;
    background: white;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    text-align: center;
}

.password-form p:first-of-type {
    font-size: 25px;   
}

.password-form p {
    font-size: 13px;
}

.password-form div {
    align-items: center;
    justify-content: center;

}

.password-form span {
    position: relative;
    top: 1.5px;
    color: #666666;
    height: 30px;
    border: 1px solid #666666;
    border-left: 3px solid green;
    padding: 9px 2px;
}

.password-form input {
    color: #666666;
    outline: none;
    border: none;
    margin: 10px 0;
    margin-left: -3px;
    width: 65%;
    height: 30px;
}

#submit-response input {
    color: white;
    background: #615cff; 
    border: 1px solid #615cff;
    margin: 15px auto;
    padding: 3px;
    width: 60%;
    height: 30px;
}

#submit-response input:hover {
    background: #615cff;
    border: 1px solid #63e3ff;
    color: #63e3ff;
    font-weight: bold;
}

.footnote {
    color: #63e3ff;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    width: 300px;
    text-align: center;
}

.footnote p {
    font-size: 13px;
}

.errors {
    color: red;
}

